.wrapper{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: #047857;
    width: 70%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.column{
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0 auto;
    padding: 20px;
    color: #9F1239;
    background-color: #111827;
    margin-bottom: 20px;
}

button{
    background-color: transparent;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;   
    transition: all 0.5s ease-out;;
}

button:hover{
    background-color:#9F1239;
}
/* .button{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
} */
